{
	"defaultConfig": {
		"buildType": "develop",
		"api": "CoreEngine",
		"libraryDir": "library/",
		"resourcePacksDir": "resource_packs/",
		"behaviorPacksDir": "behavior_packs/"
	},
	"resources": [
		{
			"path": "resources/",
			"resourceType": "resource"
		},
		{
			"path": "gui/",
			"resourceType": "gui"
		}
	],
	"buildDirs": [
		{
			"targetSource": "script.js",
			"dir": "script/"
		}
	],
	"compile": [
		{
			"path": "script.js",
			"sourceType": "mod"
		},
		{
			"path": "launcher.js",
			"sourceType": "launcher"
		}
	],
	"nativeDirs": [],
	"javaDirs": []
}
